.main-services {
	/* background-color: #eaeaea; */
	background-color: #f5f5f5;
}
.services {
	display: grid;
	grid-template-areas: '. s-left s-left s-left s-left s-left s-left s-left s-right s-right s-right s-right s-right .';
	grid-template-columns: 11vw repeat(12, 6.5vw) 11vw;
}

.services .left-side {
	z-index: 1;
	grid-area: s-left;
}

.services .right-side {
	grid-area: s-right;
	display: flex;
	align-items: center;
}

.services .right-side .container-right-side {
	padding-left: 6rem;
	font-family: 'Roboto', sans-serif;
	color: #272a39;
}

.services .right-side .container-right-side span {
	font-size: 10px;
}

.services .right-side .container-right-side h1 {
	font-size: 50px;
}

.services .right-side .container-right-side .see-all-img-container {
	display: flex;
}

.services .right-side .container-right-side .see-all-img-container .see-all {
	font-size: 20px;
}

.services .right-side .container-right-side .see-all-img-container img {
	transform: rotate(90deg) translate(-74px, -150px);
}

.services .left-side,
.services .right-side {
	margin-top: clamp(3vh, 1rem, 11vh);
	background: rgb(255, 255, 255);
	background: linear-gradient(180deg, rgba(255, 255, 255, 1) 60%, rgba(245, 245, 245, 1) 100%);
}

.services .left-side ul {
	margin-top: 4rem;
	display: grid;
	grid-template-areas:
		'. first first first . . .'
		'. first first first fourth fourth fourth'
		'second second second . fourth fourth fourth'
		'second second second third third third .'
		'. . . third third third .';
	grid-template-columns: repeat(7, 6.5vw);
	grid-template-rows: repeat(5, 8.5vw);
	list-style: none;
}

.services .left-side ul li {
	box-shadow: 0 1rem 3rem rgb(0 0 0 / 15%);
}

.services .left-side ul li,
.services .left-side ul li:nth-of-type(1) div:nth-of-type(2) {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column nowrap;
	padding: 2em 4em;
	background: #ffffff;
}

.services .left-side ul .bg-image {
	background: linear-gradient(rgb(0, 0, 0, 1.5), transparent),
		url('../assets/img/services-products/first-background.png') no-repeat;
	background-size: 100% 100%;
	filter: blur(1px);
	-webkit-filter: blur(1px);
	width: calc(6.5vw * 3);
	height: calc(8.5vw * 2);
	position: absolute;
	z-index: 0;
}

.services .left-side ul {
	font-family: 'Roboto', sans-serif;
}

.services .left-side ul li h2 {
	font-size: clamp(0.1vw, 1.2em, 1.4vw);
	margin: 0.64em auto 0.24em;
	color: #212121;
}

.services .left-side ul li p {
	line-height: 1.5em;
	font-size: clamp(0.7vw, 0.3rem, 0.9vw);
	text-align: center;
	margin: 0.5em auto 0.64em;
	color: #686868;
}

.services .left-side ul li button {
	border: 2px #eeeeee solid;
	font-size: 0.74rem;
	font-weight: bold;
	padding: 0.8em 1.6em;
	border-radius: 21.93px;
	text-transform: uppercase;
	background: transparent;
	font-family: 'Montserrat', sans-serif;
	color: #272a39;
}

.services .left-side ul li button:hover {
	box-shadow: 0px 1px 9px -2px rgba(39, 42, 57, 0.8);
	cursor: pointer;
}

.services .left-side .data-analysis-text H2,
.services .left-side .data-analysis-text p {
	color: white;
}

.services .left-side .data-analysis-text button:hover {
	background-color: #eaeaea;
	color: #272a39;
	box-shadow: 0px 1px 9px -2px rgba(252, 252, 252, 0.8);
}

.services .left-side ul li:nth-of-type(1) {
	grid-area: first;
	color: #ffffff;
}

.services .left-side ul li:nth-of-type(1) div:nth-of-type(2) {
	box-sizing: border-box;
	position: absolute;
	z-index: 1;
	background: transparent;
	padding: 2em 4em;
	max-width: calc(6.5vw * 3);
}

.services .left-side ul li:nth-of-type(1) button {
	color: white;
}

.services .left-side ul li:nth-of-type(2) {
	grid-area: second;
}

.services .left-side ul li:nth-of-type(3) {
	grid-area: third;
}

.services .left-side ul li:nth-of-type(4) {
	grid-area: fourth;
}
